<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css/main.css">
    <link rel="stylesheet" href="../styles.css/partials.css/responsive.css">

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <title>Adopt</title>
</head>
<body>
    <div id="page-home">
        <div class="content">
            <header>
                <img src="../img/adopet.svg" alt="">
                <a href="../views/register.html"><span></span>Cadastre seu pet aqui</a>
            </header>
        </div>

        <main>
            <div class="container">
                <div class="intro">
                    <h1>Sua plataforma para adoção de animais</h1>
                    <p>Ajudamos pessoas a encontrarem amigos</p>
                    <a href="#"><span></span><strong>Pesquisar pontos de adoção</strong></a>
                </div>
                <img src="../img/icons/dogwalking.svg" alt="">
               
            </div>
        </main>
    </div>
</body>
</html>